/* Fonts */

@font-face {
   font-family: Quicksand-Light;
   src: url(font/Quicksand-Light.otf);
}

@font-face {
   font-family: Quicksand-Bold;
   src: url(font/Quicksand-Bold.otf);
}
/* Basics */

body {
    padding-top: 70px;
    font-family: Quicksand-Light;
    margin : 0px;
    width: 100%;
    height: 100%;
      background: -webkit-linear-gradient(135deg,#141E1E,#0F0F0A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg,#141E1E,#0F0F0A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg,#141E1E,#0F0F0A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg,#141E1E,#0F0F0A); /* Standard syntax (must be last) */
    z-index: -1;
}

h3 {
    display : inline-block;
    color : #EEEEEE;
}


h1 {
    color : #E7E7E6;
    
      text-shadow: 1px 1px 5px #334C4C;
}
/*
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 10px;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 8px 10px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #1abc9c;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #1abc9c; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #1abc9c; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
*/
.main-body {
    position : relative;
   
    padding-top: 50px;
    width : auto;
    height : 100%;
   
  
    z-index: 0;
}

/* Login */

.login-body {
   height : 100%;
   background: #0F0F0A;
}

.login {
  margin-top : 10%;
  color : #EEEEEE;
  max-width : 23%;
  margin-left: 30%;
  
  background: #334C4C;
  padding: 1em 3em 3em 3em;
}

.login-input {
  margin : 10px;
  height : 25px;
  width : 300px;
  
  font-family: Quicksand-Bold;
  padding-left : 20px;
  font-size: 1.5em;
}

.login-btn {
  float : right;
  margin-right : 0.5em;
}
/* */

/* Hub page */

.poster {
    display : inline-block;
    overflow: hidden;
  
    margin : 10px;
    border: 2px solid #334C4C;
   
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.5); 
}


.poster:hover {
    
    
      border: 2px solid #141E1E;
    background: -webkit-linear-gradient(135deg,#141E1E,#334C4C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg,#141E1E,#334C4C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg,#141E1E,#334C4C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg,#141E1E,#334C4C); /* Standard syntax (must be last) */
    opacity: 0.5;
   z-index: 1;
}
/*
.poster img {
  
  
 position:relative;
  z-index:-1;
  display:block;   
}
*/
/*  Infos Page */

.bigPoster {
    display : inline-block;
    overflow: hidden;
    border-radius : 3px;
    margin : 10px;
    border: 2px solid #334C4C;
   
    box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.bigPoster img {
   width:auto;
}

.assetInfos {
  color : #E7E7E6;
  
  margin-top: 50px;
  top: 0;
 width: auto;
  display: inline-block;
  overflow: hidden;
 
  
  
}

.synopsis {
  display: inline-block;
  margin-right : 10%;
  text-align: left;
}

.button-bar {
  display:  inline-block;
  margin-top : 10em;
  min-height: 10em;
  
}
.detailsBtn {
 padding :1em;
   margin : 0.75em; 
   text-decoration:none
}
#assetDetails {
  min-height : 500px;
  
}
/* Header/Footer */

.fixed-header {
    position : fixed;
    display : inline-block;
    top : 0;
    left : 0;
   
    background: #0F0F0A;
   
    width: 100%;
    height: 50px; 
    z-index: 2;  
        
}

.header-logo {
  position : fixed;
  top : 0;
  left : 0;
   
  display: inline-block;
  height : 50px;
  
}

.header-form {
    color : #E7E7E6;
    margin-left : 2em;
    display: inline-block;
      margin-top : -10px;
    
}
/*
.footer {
    background: #0F0F0A;
    width : 100%;
    height : 75px;
    
    clear: both;
}
*/
.searchbox {
   
  padding: 6px 15px 6px 15px;
  background: #ffffff; 
  margin-top : -5px;

}


.header-right {
  
  float: right;
  margin : 0.75em; 
  
}
/* Miscellanous or something */
.close-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.75em;
  height: 0.75em;
  position: relative;
  border: none;

  font: normal 8em/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
}

.close-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(45deg)   ;
  transform: rotateZ(45deg)   ;
}

.close-button::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(-45deg)   ;
  transform: rotateZ(-45deg)   ;
}
/*
.btn {
  background: #334C4C;
  background-image: -webkit-linear-gradient(top, #334C4C, #141E1E);
  background-image: -moz-linear-gradient(top, #334C4C, #141E1E);
  background-image: -ms-linear-gradient(top, #334C4C, #141E1E);
  background-image: -o-linear-gradient(top, #334C4C, #141E1E);
  background-image: linear-gradient(to bottom, #334C4C, #141E1E);
  
  
  color: #ffffff;
  font-size: 15px;
  padding: 6px 15px 4px 15px;
  text-decoration: none;

}

.btn:hover {
  background: #577d7d;
  background-image: -webkit-linear-gradient(top, #577d7d, #141E1E);
  background-image: -moz-linear-gradient(top, #577d7d, #141E1E);
  background-image: -ms-linear-gradient(top, #577d7d, #141E1E);
  background-image: -o-linear-gradient(top, #577d7d, #141E1E);
  background-image: linear-gradient(to bottom, #577d7d, #141E1E);
  text-decoration: none;
}
*/
.btn2 {
  background: #334C4C;
  background-image: -webkit-linear-gradient(top, #334C4C, #141E1E);
  background-image: -moz-linear-gradient(top, #334C4C, #141E1E);
  background-image: -ms-linear-gradient(top, #334C4C, #141E1E);
  background-image: -o-linear-gradient(top, #334C4C, #141E1E);
  background-image: linear-gradient(to bottom, #334C4C, #141E1E);

  
 
  color: #ffffff;
  font-size: 15px;
  padding: 6px 15px 4px 15px;
  text-decoration: none;

}

.btn2:hover {
  background: #577d7d;
  background-image: -webkit-linear-gradient(top, #577d7d, #141E1E);
  background-image: -moz-linear-gradient(top, #577d7d, #141E1E);
  background-image: -ms-linear-gradient(top, #577d7d, #141E1E);
  background-image: -o-linear-gradient(top, #577d7d, #141E1E);
  background-image: linear-gradient(to bottom, #577d7d, #141E1E);
  text-decoration: none;
}

.green-sea-flat-button {
  
  height: 30px;
  
  
  font-size: 15px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #16a085;
  border: 0;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 2px solid #14947b;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #14947b;
  box-shadow: inset 0 -2px #14947b;
}
.green-sea-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.shadow-bottom {
    box-shadow : 0px 5px 5px rgba(0, 0, 0, 0.5);    
    clear: both;
}

.bottom-right {
    text-align: right;
    margin-right : 20px;
    bottom : 0;
    right : 0; 
      background: #0F0F0A;
}
@media (min-width: 420px) {
.header-movie-form { 
    display: inline-block;
    width: auto;
    vertical-align: middle;
}



}
.hided {
    visibility: hidden;
}


@media (max-width: 420px) {
   
.hidden-xxs {
    /* when your screen is too tiny*/
    display: none;
}
}

@media (max-width: 435px) {
.poster {
    width: 160px;
}    
}

@media (min-width: 679px) {
.assetInfos {
    position : absolute;
}
}
@media (max-width: 679px) {
.bigPoster {
    width : 100%;
}

.bigPoster img{
    width : 99%;
}
}
/* END */